.graphs-container {
    position: absolute;
    top: 15vh;
    margin: 0 5vw;
    width: 90vw;
}

.graphs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.line-graph {
    width: 85%;
}

.chart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.round-graph {
    width: 50%;
}
